<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8" />
  <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-icon.png">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
  <title>
    <%= title %>
  </title>
  <meta content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0, shrink-to-fit=no' name='viewport' />
  <!--     Fonts and icons     -->
  <link href="https://fonts.googleapis.com/css?family=Montserrat:400,700,200" rel="stylesheet" />
  <link href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" rel="stylesheet">
  <!-- CSS Files -->
  <link href="/css/bootstrap.min.css" rel="stylesheet" />
  <link href="/css/paper-dashboard.css?v=2.0.0" rel="stylesheet" />
  <!-- CSS Just for demo purpose, don't include it in your project -->
  <link href="/demo/demo.css" rel="stylesheet" />
  <% include ./include/firebase.ejs %>
  <% include ./include/common.ejs %>
</head>

<body class="">
  <div class="wrapper ">
    <% include ./include/sidebar.ejs %>
    <!--<div class="sidebar" data-color="white" data-active-color="danger">-->
      <!--&lt;!&ndash;-->
        <!--Tip 1: You can change the color of the sidebar using: data-color="blue | green | orange | red | yellow"-->
    <!--&ndash;&gt;-->
      <!--<div class="logo">-->
        <!--<a href="http://www.creative-tim.com" class="simple-text logo-mini">-->
          <!--<div class="logo-image-small">-->
            <!--<img src="/img/logo-small.png">-->
          <!--</div>-->
        <!--</a>-->
        <!--<a href="http://www.creative-tim.com" class="simple-text logo-normal">-->
          <!--Creative Tim-->
          <!--&lt;!&ndash; <div class="logo-image-big">-->
            <!--<img src="/img/logo-big.png">-->
          <!--</div> &ndash;&gt;-->
        <!--</a>-->
      <!--</div>-->
      <!--<div class="sidebar-wrapper">-->
        <!--<ul class="nav">-->
          <!--<li class="active ">-->
            <!--<a href="/">-->
              <!--<i class="nc-icon nc-bank"></i>-->
              <!--<p>Dashboard</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/icons">-->
              <!--<i class="nc-icon nc-diamond"></i>-->
              <!--<p>Icons</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="./map.html">&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="nc-icon nc-pin-3"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>Maps</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--<li>-->
            <!--<a href="/notifications">-->
              <!--<i class="nc-icon nc-bell-55"></i>-->
              <!--<p>Notifications</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/user">-->
              <!--<i class="nc-icon nc-single-02"></i>-->
              <!--<p>User Profile</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--<li>-->
            <!--<a href="/users">-->
              <!--<i class="nc-icon nc-tile-56"></i>-->
              <!--<p>Table List</p>-->
            <!--</a>-->
          <!--</li>-->
          <!--&lt;!&ndash;<li>&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="./typography.html">&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="nc-icon nc-caps-small"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>Typography</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
          <!--&lt;!&ndash;<li class="active-pro">&ndash;&gt;-->
            <!--&lt;!&ndash;<a href="./upgrade.html">&ndash;&gt;-->
              <!--&lt;!&ndash;<i class="nc-icon nc-spaceship"></i>&ndash;&gt;-->
              <!--&lt;!&ndash;<p>Upgrade to PRO</p>&ndash;&gt;-->
            <!--&lt;!&ndash;</a>&ndash;&gt;-->
          <!--&lt;!&ndash;</li>&ndash;&gt;-->
        <!--</ul>-->
      <!--</div>-->
    <!--</div>-->
    <div class="main-panel">
      <!-- Navbar -->
      <% include ./include/navbar.ejs %>
      <!-- End Navbar -->
      <!-- <div class="panel-header panel-header-lg">
  
  <canvas id="bigDashboardChart"></canvas>
  
  
</div> -->
      <div class="content">
        <div class="row">
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-globe text-warning"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Người dùng</p>
                      <p class="card-title"><%= numberOfUsers %>
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i> Update Now
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-money-coins text-success"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Admin</p>
                      <p class="card-title"><%= numberOfAdmin %>
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar-o"></i> Last day
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-vector text-danger"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Playlist</p>
                      <p class="card-title"><%= numberOfPlaylist %>
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-clock-o"></i> In the last hour
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-3 col-md-6 col-sm-6">
            <div class="card card-stats">
              <div class="card-body ">
                <div class="row">
                  <div class="col-5 col-md-4">
                    <div class="icon-big text-center icon-warning">
                      <i class="nc-icon nc-favourite-28 text-primary"></i>
                    </div>
                  </div>
                  <div class="col-7 col-md-8">
                    <div class="numbers">
                      <p class="card-category">Bài hát yêu thích</p>
                      <p class="card-title"><%= numberOfFavTracks %>
                        <p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-refresh"></i> Update now
                </div>
              </div>
            </div>
          </div>
        </div>
        <!--<div class="row">-->
          <!--<div class="col-md-12">-->
            <!--<div class="card ">-->
              <!--<div class="card-header ">-->
                <!--<h5 class="card-title">Users Behavior</h5>-->
                <!--<p class="card-category">24 Hours performance</p>-->
              <!--</div>-->
              <!--<div class="card-body ">-->
                <!--<canvas id=chartHours width="400" height="100"></canvas>-->
              <!--</div>-->
              <!--<div class="card-footer ">-->
                <!--<hr>-->
                <!--<div class="stats">-->
                  <!--<i class="fa fa-history"></i> Updated 3 minutes ago-->
                <!--</div>-->
              <!--</div>-->
            <!--</div>-->
          <!--</div>-->
        <!--</div>-->
        <div class="row">
          <div class="col-md-12">
            <div class="card ">
              <div class="card-header ">
                <h5 class="card-title">Người dùng</h5>
                <p class="card-category">Quản trị viên và Nguời dùng hệ thống </p>
              </div>
              <div class="card-body ">
                <div class="row">
                  <div class="col-5">
                    <canvas id="chartEmail"></canvas>
                  </div>
                  <div class="col-7">
                    <div class="legend">
                      <i class="fa fa-circle text-primary"></i> Nguời dùng hệ thống <br>
                      <i class="fa fa-circle text-danger"></i> Quản trị viên
                    </div>
                  </div>
                </div>
              </div>
              <div class="card-footer ">
                <hr>
                <div class="stats">
                  <i class="fa fa-calendar"></i> Phân loại người dùng
                </div>
              </div>
            </div>
          </div>
          <div class="col-md-8 d-none">
            <div class="card card-chart">
              <div class="card-header">
                <h5 class="card-title">NASDAQ: AAPL</h5>
                <p class="card-category">Line Chart with Points</p>
              </div>
              <div class="card-body">
                <canvas id="speedChart" width="400" height="100"></canvas>
              </div>
              <div class="card-footer">
                <div class="chart-legend">
                  <i class="fa fa-circle text-info"></i> Tesla Model S
                  <i class="fa fa-circle text-warning"></i> BMW 5 Series
                </div>
                <hr/>
                <div class="card-stats">
                  <i class="fa fa-check"></i> Data information certified
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <% include ./include/footer.ejs %>
    </div>
  </div>
  <!--   Core JS Files   -->
  <script src="/js/core/jquery.min.js"></script>
  <script src="/js/core/popper.min.js"></script>
  <script src="/js/core/bootstrap.min.js"></script>
  <script src="/js/plugins/perfect-scrollbar.jquery.min.js"></script>
  <!--  Google Maps Plugin    -->
  <!--<script src="https://maps.googleapis.com/maps/api/js?key=YOUR_KEY_HERE"></script>-->
  <!-- Chart JS -->
  <script src="/js/plugins/chartjs.min.js"></script>
  <!--  Notifications Plugin    -->
  <script src="/js/plugins/bootstrap-notify.js"></script>
  <!-- Control Center for Now Ui Dashboard: parallax effects, scripts for the example pages etc -->
  <script src="/js/paper-dashboard.min.js?v=2.0.0" type="text/javascript"></script>
  <!-- Paper Dashboard DEMO methods, don't include it in your project! -->
  <script src="/demo/demo.js"></script>
  <script>
    $(document).ready(function() {
      // Javascript method's body can be found in assets/assets-for-demo/js/demo.js
      // demo.initChartsPages();
      function initChartsPages () {
        let numberOfAdmin = <%= numberOfAdmin %>;
        let numberOfNormalUser = <%= numberOfNormalUser %>;


        chartColor = "#FFFFFF";

        ctx = document.getElementById('chartEmail').getContext("2d");

        myChart = new Chart(ctx, {
          type: 'pie',
          data: {
            labels: [1, 2],
            datasets: [{
              label: "Users",
              pointRadius: 0,
              pointHoverRadius: 0,
              backgroundColor: [
                '#ef8157',
                '#4acccd',
              ],
              borderWidth: 0,
              data: [numberOfAdmin, numberOfNormalUser]
            }]
          },

          options: {

            legend: {
              display: false
            },

            pieceLabel: {
              render: 'percentage',
              fontColor: ['white'],
              precision: 2
            },

            tooltips: {
              enabled: true
            },

            scales: {
              yAxes: [{

                ticks: {
                  display: false
                },
                gridLines: {
                  drawBorder: false,
                  zeroLineColor: "transparent",
                  color: 'rgba(255,255,255,0.05)'
                }

              }],

              xAxes: [{
                barPercentage: 1.6,
                gridLines: {
                  drawBorder: false,
                  color: 'rgba(255,255,255,0.1)',
                  zeroLineColor: "transparent"
                },
                ticks: {
                  display: false,
                }
              }]
            },
          }
        });

        var speedCanvas = document.getElementById("speedChart");

        var dataFirst = {
          data: [0, 19, 15, 20, 30, 40, 40, 50, 25, 30, 50, 70],
          fill: false,
          borderColor: '#fbc658',
          backgroundColor: 'transparent',
          pointBorderColor: '#fbc658',
          pointRadius: 4,
          pointHoverRadius: 4,
          pointBorderWidth: 8,
        };

        var dataSecond = {
          data: [0, 5, 10, 12, 20, 27, 30, 34, 42, 45, 55, 63],
          fill: false,
          borderColor: '#51CACF',
          backgroundColor: 'transparent',
          pointBorderColor: '#51CACF',
          pointRadius: 4,
          pointHoverRadius: 4,
          pointBorderWidth: 8
        };

        var speedData = {
          labels: ["Jan", "Feb", "Mar", "Apr", "May", "Jun", "Jul", "Aug", "Sep", "Oct", "Nov", "Dec"],
          datasets: [dataFirst, dataSecond]
        };

        var chartOptions = {
          legend: {
            display: false,
            position: 'top'
          }
        };

        var lineChart = new Chart(speedCanvas, {
          type: 'line',
          hover: false,
          data: speedData,
          options: chartOptions
        });
      }
      initChartsPages();
    });
  </script>
</body>

</html>