<div class="sidebar" data-color="white" data-active-color="danger">
    <div class="logo">
        <a href="http://www.creative-tim.com" class="simple-text logo-mini">
            <div class="logo-image-small">
                <img src="/img/ic_launcher.png">
            </div>
        </a>
        <a href="http://www.creative-tim.com" class="simple-text logo-normal"> Quản Lý WEMIX </a>
    </div>
    <div class="sidebar-wrapper">
        <ul class="nav">
            <li class="<%= dashboardClass %>">
                <a href="/">
                    <i class="nc-icon nc-bank"></i>
                    <p>Dashboard</p>
                </a>
            </li>
            <li class="<%= iconClass %>">
                <a href="/icons">
                    <i class="nc-icon nc-diamond"></i>
                    <p>Icons</p>
                </a>
            </li>
            <li class="<%= notificationsClass %>">
                <a href="/notifications">
                    <i class="nc-icon nc-bell-55"></i>
                    <p>Notifications</p>
                </a>
            </li>
            <li class="<%= userClass %>">
                <a href="/user">
                    <i class="nc-icon nc-single-02"></i>
                    <p>User Profile</p>
                </a>
            </li>
            <li class="<%= usersClass %>">
                <a href="/users">
                    <i class="nc-icon nc-tile-56"></i>
                    <p>Table List</p>
                </a>
            </li>
        </ul>
    </div>
</div>
